@font-face {
    font-family: 'Circular Std';
    src: url(../fonts/circular-std-medium-500.ttf);
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

:root {

 /* color variable */
    --brand:#0d354f;
    --orange:#a3714e;
    --paragraph_color:#727272;
    --white:#ffffff;
    --off_white:#6e8696;
/* font variable */
    --circular:'Circular Std';
    --playfair:'Playfair Display';
/* Border */
    --border:1px solid black;
    
}
h1 ,h2, h3, h4, h5, h6 {
    font-family: var(--playfair);
}
.section_heading_title_default{
    font-size: 13px;
    color: var(--orange);
    font-family: var(--circular);
    text-transform: uppercase;
}
.section_heading_default {
    font-size: 50px;
    line-height: 52px;
    color: var(--brand);
    font-weight: 900;
    font-family: var(--playfair);
    text-align: center; 
}

p{
    font-size: 14px;
    font-family: var(--circular);
    
}

 .dropdown{
    padding-left: 8px;
}      
.dropdown i{
    font-size: 13px;
    color: var(--brand);
    cursor: pointer;
}

.btn-outline {
    border: 1px solid var(--brand);
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--brand);
    font-family: var(--circular);
    padding: 15px 45px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}
.btn-outline::before {
    position: absolute;
    content: '';
    background: var(--brand);
    width: 13px;
    height: 16px;
    bottom: -6px;
    left: -5px;
    transform: rotate(137deg);
}

.btn-fill {
    font-size: 14px;
    letter-spacing: 1px;
    background-color: var(--brand);
    color: var(--white);
    font-family: var(--circular);
    padding: 15px 45px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}



/* --------------Common Heading -------------- */

.common-heading-center {
    text-align: center;
}

 .common-heading  .c-h-h6 {
    font-size: 13px;
    color: var(--orange);
    font-family: var(--circular);
    font-weight: 100;
    padding-top: 12px;
}

 .common-heading  .c-h-h1 {
    font-size: 45px;
    color: var(--brand);
    font-weight: 900;
    font-family: var(--playfair);
    padding-top: 5px;
}

 .common-heading  .c-h-h4 {
    font-size: 18px;
    /* line-height: 30px; */
    color: #0a283c;
    font-weight: 400;
    font-style: italic;
    font-family: var(--playfair);
    padding-top: 16px;
}

.common-heading .first-p , .second-p {
    width: 957px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    color: #726e6e;
    font-family: var(--circular);
    line-height: 26px;
} 