@font-face {
    font-family: 'Circular Std';
    src: url(../fonts/circular-std-medium-500.ttf);
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

:root {

 /* color variable */
    --brand:#0d354f;
    --orange:#a3714e;
    --paragraph_color:#727272;
    --white:#ffffff;
    --off_white:#6e8696;
/* font variable */
    --circular:'Circular Std';
    --playfair:'Playfair Display';
/* Border */
    --border:1px solid black;
    
}
h1 ,h2, h3, h4, h5, h6 {
    font-family: var(--playfair);
}
.section_heading_title_default{
    font-size: 13px;
    color: var(--orange);
    font-family: var(--circular);
    text-transform: uppercase;
}
.section_heading_default {
    font-size: 50px;
    line-height: 52px;
    color: var(--brand);
    font-weight: 900;
    font-family: var(--playfair);
    text-align: center; 
}

p{
    width: 957px;
    height: 87px;
    font-size: 14px;
    line-height: 26px;
    color:  var(--paragraph_color);
    font-family: var(--circular);
    
}

 .dropdown{
    padding-left: 8px;
}      
.dropdown i{
    font-size: 13px;
    color: var(--brand);
    cursor: pointer;
}